.container {
  background-color: color-mix(in srgb, var(--graphite) 20%, transparent);
  padding: var(--vertical-padding) var(--horizontal-padding);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reposTitle {
  margin-top: var(--vertical-padding);
  font-size: 22px;
  font-weight: 600;
  color: var(--oxford-blue);
}
