.item {
  background-color: var(--overlay-light);
  border-radius: 20px;
  padding: 0 16px;
  height: 81px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconContainer {
  border-radius: 50%;
  background-color: var(--gray-light);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.value {
  font-size: 20px;
}

.label {
  font-size: 14px;
  color: var(--slate-gray);
}
