.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 58px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
}
