.dropdown {
  position: relative;
  width: 286px;
}

.button {
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 16px 20px;
  cursor: pointer;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.options.open {
  max-height: 300px;
  opacity: 1;
}

.option {
  padding: 16px 20px;
  cursor: pointer;
  font-size: 16px;
}

.option:hover {
  background-color: var(--overlay-light);
}
