.link {
  background-color: var(--cinnabar-red);
  border: none;
  height: 32px;
  border-radius: 8px;
  padding: 0 16px;
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.small {
  height: 32px;
}

.medium {
  height: 40px;
}
