.container {
  background-color: var(--overlay-light);
  padding: var(--vertical-padding) var(--horizontal-padding);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 72px);
}

.repo {
  background-color: var(--white);
  border-radius: 20px;
  padding: 32px;
  width: 100%;
  max-width: 862px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 48px auto 0;
}

.title {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0;
}

@media (min-width: 640px) {
  .profile {
    flex-direction: row;
    gap: 24px;
  }
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.description {
  font-size: 18px;
  margin: 0;
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 640px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--shadow-ultralight);
  margin: 24px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 640px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.buttonGroup {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.message {
  color: var(--slate-gray);
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.messageVisible {
  opacity: 1;
}
