:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --horizontal-padding: 120px;

  --graphite: #3A3A3A;
  --white: #FFFFFF;
  --oxford-blue: #101828;
  --cinnabar-red :#D44333; 
}

body {
  margin: 0;
}